  <header class="border-b h-10 pt-2">

        <div class="container mx-auto flex items-center">
            <div>
                <a href="/" class="font-bold text-blue">Partner<span class="font-normal">App</span></a>
            </div>

            <ul class="flex ml-auto text-xs">
          
                <li>
                    <a href="/users" class="pr-4"> Users </a>
                </li>
                <li>
                    <a href="/about" class="pr-4"> About </a>
                </li>
                <li>
                    <a href="/customer-service" class="pr-4"> Customer service </a>
                </li>
                <li>
                    <a href="/my-parcel/" class="pr-4">My parcel</a>
                </li>
                <li>
                    <a href="/mytickets/" class="pr-4"> All my requests </a>
                </li>
                <li>
                  <a href="https://partner-app-customer-portal.antoinebrossault.com/tickets-view" class="pr-4">Open tickets</a>
                </li>
                <li>
                  <a href="https://partner-app-customer-portal.antoinebrossault.com/knowledge"  class="pr-4">Knowlege base</a>
                </li>
                <li>
                  <a href="/contact"  class="pr-4">Contact</a>
                </li>
                      <li>
                  <a href="/login"  class="pr-4">Login</a>
                </li>
            </ul>
        </div>

    </header>